<hr>

      <div id="footer-wrapper">
		    <div id="footer">
          The Portable Wisdom collection of quotations is curated by Herb Bowie
		    </div>
	    </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="#relative#js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="#relative#js/bootstrap.min.js"></script>
    <script src="#relative#js/posts_navigate.js"></script>
    <script src="#relative#js/wisdom_navigate.js"></script>
