	    <hr>

      <div id="footer-wrapper">
		    <div id="footer">
          Copyright &copy; 2005 - 2018 by Herb Bowie per this <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons License</a>, except where otherwise noted
		    </div>
	    </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="#relative#js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="#relative#js/bootstrap.min.js"></script>
    <script src="#relative#js/posts_navigate.js"></script>
    <script src="#relative#js/wisdom_navigate.js"></script>
