    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portable Wisdom Quotations from Pagan Tuna">
    <meta name="author" content="Herb Bowie">
    <link rel="shortcut icon" href="#relative#favicon.ico" type="image/x-icon" />
    <link rel="icon" href="#relative#favicon.png" type="image/png" />
    <link rel="alternate" type="application/rss+xml" title="New Portable Wisdom Quotations from Pagan Tuna" href="http://www.pagantuna.com/wisdom/rss.xml" />
    <!-- Bootstrap -->
    <link href="#relative#css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Custom styles for Pagan Tuna -->
    <link rel="stylesheet" href="#relative#fonts/concourse_t3.css" type="text/css" />
    <link rel="stylesheet" href="#relative#fonts/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="#relative#css/styles.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="#relative#js/html5shiv.js"></script>
      <script src="#relative#js/respond.min.js"></script>
    <![endif]-->
