    <div class="container">
      <div id="header">
        <div id="logo">
          <a href="#relative#index.html">
            <img alt="Pagan Tuna" src="#relative#images/tuna5.gif" width="134" height="118">
          </a>
        </div>
        <div id="title-and-slogan">
          <div id="site-title">
            <a href="#relative#index.html">
              Pagan Tuna
            </a>
          </div>
          <div id="site-slogan">
            Often irreverent<br />
            and sometimes downright fishy<br />
            thoughts on Technology and Leadership<br />
            by Herb Bowie
          </div>
        </div>
      </div>
