            <ul>
              <li><a href="#relative#wisdom/index-latest.html">Most Recent</a></li>
              <li><a href="#relative#wisdom/authors/index.html">Authors</a></li>
              <li><a href="#relative#wisdom/index-by-title.html">Titles</a></li>
              <li><a href="#relative#wisdom/tags/index.html">Tags</a></li>
              <li><a href="javascript:randomQuote();">Random</a></li>
              <li><a href="javascript:nextQuote();">Next</a></li>
              <li><a href="javascript:priorQuote();">Prior</a></li>
            </ul>
