<!DOCTYPE html>
<html lang="en">
<head>
  <!-- #bbinclude "head_stuff.html" -->
  <!-- end bbinclude -->
	<title>#title#</title>
</head>

<body>

  <!-- #bbinclude "header.html" -->
  <!-- end bbinclude -->

	<div id="container">

		<div id="center" class="column">
      <h1>#title#</h1>

		</div>

		<div id="left" class="column">
      <div id="nav">
        <ul>
          <li><a href="../posts/index.html">Posts</a>
            <ul>
              <li><a href="../posts/index-by-title.html">Titles</a></li>
              <li><a href="../posts/index-by-category.html">Categories</a></li>
              <li><a href="../posts/index-by-date.html">Dates</a></li>
              <li><a href="../posts/nav-random.html">Random</a></li>
              <li><a href="../posts/nav-next.html">Next</a></li>
              <li><a href="../posts/nav-prior.html">Prior</a></li>
            </ul>
          </li>
          <li><a href="../wisdom/index.html">Portable Wisdom</a>
            <ul>
              <li><a href="../wisdom/index-by-title.html">Titles</a></li>
              <li><a href="../wisdom/index-by-category.html">Categories</a></li>
              <li><a href="../wisdom/index-by-date.html">Dates</a></li>
              <li><a href="../wisdom/nav-random.html">Random</a></li>
              <li><a href="../wisdom/nav-next.html">Next</a></li>
              <li><a href="../wisdom/nav-prior.html">Prior</a></li>
            </ul>
          </li>
          <!-- #bbinclude "nav_bottom.html" -->
          <!-- end bbinclude -->
        </ul>
      </div>
		</div>

		<div id="right" class="column">

		</div>

	</div> <!-- end container div -->

  <!-- #bbinclude "footer.html" -->
  <!-- end bbinclude -->

</body>

</html>
